body {
  font-family: 'Open Sans', Helvetica, sans-serif;  
  background-color: #EFF9F4;
  margin: 0;
}

h1 {
  background-color: #465c8b;
  color: #EFF9F4;
  font-size: 1.2rem;
  margin:0;
  padding: 0.25rem;
}

p {
    margin: 0.5rem;
}